@import "global.css";

.content #block1.verMenu {
    background: url("../../img/book.png") no-repeat scroll 18% 75px transparent;
    float: left;
    padding: 135px 0 0 3%;
    width: 15%;
}

.content #block1.verMenu .menuItem a {
    color: #F23B00;
    display: block;
    font-size: 15px;
    padding-top: 20px;
    text-decoration: underline;
}

.content #block1.verMenu .menuItem .description {
    color: #94969B;
    font-size: 11px;
}

.content .geography {
    padding-bottom: 40px;
    text-align: center;
}

.content .info {
    float: right;
    min-width: 330px;
    padding-bottom: 60px;
    padding-top: 20px;
    width: 28%;
}

.content.company .info {
    width: 360px;
}

.content .info .description {
    clear: both;
    padding: 40px 20px;
}

.content .info .showItem {
    float: right;
    font-size: 14px;
    padding-right: 50px;
}
.content .info .showItem a {
    color: #F23B00;
}


.content .main {
    padding: 20px 20px 40px 40px;
}

.content .main h1 {
    margin-left: 220px;
    padding-bottom: 0px;
    font-size: 24px;
}

.content .main .news-block {
    padding-top: 20px;
}

.content .main ul li a {
    color: #4E4F5A;
    display: block;
    font-family: Arial, sans-serif;
    font-size: 16px;
    padding: 10px 0;
    text-decoration: underline;
}

.content .main .instruments {
    padding: 40px 0;
}

.content .main .instruments a {
    color: #CC3300;
    float: left;
    font-size: 13px;
    height: 26px;
    padding-right: 20px;
}

.content .main .instruments a.rss {
    background: url("../../img/rss.png") no-repeat scroll left top transparent;
    padding-left: 30px;
}

.extra {
    background: url("../../img/subcontent-t.png") repeat-x scroll left top #F7F7F7;
    clear: both;
    padding: 40px;
}



.content .extra .showHierarchy {
    margin: 0 60px 0 450px;
}

.content .extra .showHierarchy ul {
    clear: right;
}

.content .extra .showHierarchy ul li {
    display: block;
}

.content .extra .showHierarchy ul li a {
    clear: right;
    color: #4C4E5B;
    float: left;
    font-size: 14px;
    padding: 20px 20px 20px 0;
    width: 210px;
}

.content .extra .showHierarchy ul li a.img {
    padding: 10px 20px 20px 0;
    width: 30px;
}

.content .extra .showHierarchy ul li span {
    color: #999999;
    display: block;
    font-size: 11px;
    padding: 25px 20px 35px 0;
}



.content .extra .slave {
    border-left: 1px solid #E2E2E2;
    color: #0099FF;
    float: right;
    font-size: 15px;
    line-height: 26px;
    margin: 40px 0;
    padding: 10px 20px;
    width: 216px;
}

.content .extra .representatives {
    border-left: 1px solid #E2E2E2;
    color: #0099FF;
    float: right;
    font-family: Arial, sans-serif;
    font-size: 15px;
    line-height: 26px;
    margin: 40px 0;
    padding: 10px 30px;
    width: 156px;
}

.content .extra .representatives h3 {
    color: #333333;
    font-size: 14px;
    padding-bottom: 10px;
}

.content .extra .representatives ul li {
    display: block;
    height: 30px;
    margin: 0;
    padding: 0;
}

.content .extra .representatives ul li a {
    border-top: 1px solid #E2E2E2;
    color: #598C00;
    display: block;
    font-size: 12px;
    padding: 0;
    text-decoration: underline;
}

.content .extra .representatives ul li:first-child a {
    border-top: 0 none;
}


.main .showHTMLSimple {
    padding: 0 40px 20px 220px;
    color: #697379;
    font-size: 14px;
}
/*
.main .showHTML .custom-content {
    float: right;
    width: 55%;
}
*/

.size{
    font-family: verdana, sans-serif;
    color: #666666;
    font-size: 11px;
}
.doc{
    padding-top: 10px;
}


.widget-7 .showItem {
    clear: both;
    float: left;
    height: 200px;
    width: 150px;
    padding-top: 80px;
    margin-left: 20px;
}

.widget-7 .showItem a {
    display: block;
    font-family: Verdana, sans-serif;
    font-size: 13px;
    color: #598E00;
}

.widget-8 .showVacancies {
    clear: right;
    margin-left: 200px;
}

.widget-8 .showVacancies h1 {
    margin-left: 20px;
    font-size: 24px;
    padding-bottom: 0px;
}

.widget-8 .showVacancies table {
    width: 100%;
}

.widget-8 .showVacancies td {
    vertical-align: top;
    padding: 17px 50px 20px 20px;
}

.widget-8 .showVacancies td.first {
    border-bottom: 1px dotted #666666;
}

.widget-8 .showVacancies td a {
    padding-right: 50px;
    color: #598E00;
    font-size: 11px;
    font-family: Verdana, sans-serif;
    text-decoration: none;
}

.widget-8 .showVacancies td ul {
    padding-top: 20px;
}

.widget-8 .showVacancies td ul li {
    font-size: 14px;
    color: #4C4E5B;
}

.widget-8 .showVacancies td ul li a {
    font-size: 14px;
    color: #4C4E5B;
    text-decoration: underline;
}

.utils {
    padding: 20px 20px 0 20px;
    margin-left: 200px;
}

.utils a {
    color: #CC3300;
    font-family: Arial, sans-serif;
    padding: 20px 80px 20px 30px;
}

.utils .rss {
    background: url("../../img/rss.png") no-repeat scroll left center transparent;
}

.extra .reserve {
    margin-left: 20px;
    font-family: Verdana, sans-serif;
}
.extra .reserve ul li {
    display: inline;
}
.extra .reserve ul li a {
    color: #F23900;
    text-decoration: none;
    float: none;
}

.extra .reserve h1 {
    /*margin-left: 225px;*/
    padding: 0px;
}
.extra .reserve ul.tabs {
    padding-bottom: 20px;
}
.extra .reserve ul.tabs li a.current{
    color: #000000;
    font-weight: bold;
    font-size: 16px;
    border-bottom: none;

}
.extra .reserve ul.tabs li a{
    font-weight: bold;
    font-size: 16px;
    color: #F23900;
    border-bottom: 1px dashed #F23900;

}

.extra .reserve table tr{
    vertical-align: top;
}

.extra .reserve .description {
    /*float: left;*/
    width: 160px;
    font-size: 13px;
    color: #697379;
    margin: 130px 20px 0 0;
}

.extra .reserve .form {
    height: 350px;
    float: left;
}

.extra .reserve .form h2 {
    display: block;
    font-weight: bold;
    color: #373E40;
    font-size: 14px;
    padding-bottom: 20px;
}

.extra .reserve .form table {
    width: 60%;
}

.extra .reserve .form td {
    padding: 5px 30px 5px 0;
    vertical-align: top;
}

.extra .reserve .form label {
    text-align: left;
    font-size: 11px;
    color: #F23900;
    display: block;
}

.extra .reserve .form label.error {
    color: green;
}
.extra .reserve .form div.error {
    color: green;
}
.extra .reserve .form span {
    font-size: 11px;
    color: #697379;
    display: block;
}

.extra .reserve .form .text {
    border-radius: 3px 3px 3px 3px;
    border: 1px solid #DCDDDE;
    width: 332px;
    height: 26px;
    margin-bottom: 10px;
}

.extra .reserve .form #info.text {
    height: 160px;
}

.extra .reserve .form #contacts.text {
    height: 80px;
}

.extra .reserve .form td.contacts {
    text-align: right;
}
.extra .reserve .form td.contacts img {
    float: left;
}
.extra .reserve .form td.contacts label {
    padding-bottom: 10px;
}
.extra .reserve .form td.contacts input.text {
    width: 222px;
}
.extra .reserve .form .button {
    background: url(../../img/button-bg-send.png) top left no-repeat;
    border: 0;
    width: 158px;
    height: 37px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: #5E616C;
    cursor: pointer;
    padding-bottom: 8px;
}
/*
.extra .reserve .form ui-state-active a {
    color: #F23900;
    text-decoration: underline;
}

.extra .reserve .form  ui-state-default a {
    color: #000000;
    text-decoration: none;
}*/

/*
* jQuery UI Tabs 1.8.6
*
* Copyright 2010, AUTHORS.txt (http://jqueryui.com/about)
* Dual licensed under the MIT or GPL Version 2 licenses.
* http://jquery.org/license
*
* http://docs.jquery.com/UI/Tabs#theming
*/
.ui-tabs {
    position: relative;
    padding: .2em;
    zoom: 1;
}

/* position: relative prevents IE scroll bug (element with position: relative inside container with overflow: auto appear as "fixed") */
/*.ui-tabs .ui-tabs-nav { margin: 0; padding: .2em .2em 0; }*/
/*.ui-tabs .ui-tabs-nav li { list-style: none; float: left; position: relative; top: 1px; margin: 0 .2em 1px 0; border-bottom: 0 !important; padding: 0; white-space: nowrap; }*/
.ui-tabs .ui-tabs-nav li a {
    float: left;
    padding-right: 7px;
    color: #F23900;
    text-decoration: underline;
}

/*.ui-tabs .ui-tabs-nav li.ui-tabs-selected { margin-bottom: 0; padding-bottom: 1px; }*/
.ui-tabs .ui-tabs-nav li.ui-tabs-selected a, .ui-tabs .ui-tabs-nav li.ui-state-disabled a, .ui-tabs .ui-tabs-nav li.ui-state-processing a {
    cursor: text;
     text-decoration: none;
    color: #373E41;
}

/*.ui-tabs .ui-tabs-nav li a, .ui-tabs.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-selected a { cursor: pointer; }  first selector in group seems obsolete, but required to overcome bug in Opera applying cursor: text overall if defined elsewhere...*/
.ui-tabs .ui-tabs-panel {
    display: block;
    border-width: 0;
    padding: 1em 1.4em;
    background: none;
}

.ui-tabs .ui-tabs-hide {
    display: none !important;
}

#reception{
    border: 1px solid #006600;
}