@import "global.css";


.dropdown{
    /*margin: 40px 10px 10px 40px;*/
    float: left;
    display: block;
    /*clear: both;*/
}
.dropdown h2 {
    margin: 0;
    display: block;
    font-family: Verdana, sans-serif;
    font-size: 11px;
    color: #F23900;
    padding-left: 10px;
    padding-bottom: 5px;
    /*float: left;*/
    font-weight: normal;
}
.geography {
    padding-bottom: 40px;
    text-align: center;
}

.info {
    padding: 20px 60px;
}

.info .verMenu {
    float: left;
    display: block;
    padding:0 0 0 15px ;

    /*border: 1px red solid;*/
    /*margin-left: 230px;*/
    margin-left: 35px;
    /*clear: both;*/
}
.info ul.horMenu li {
    float: right;
    padding-left: 20px;
}
.info ul.horMenu li a {
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: #F23B00;
}
.info ul.horMenu li.last {
    font-weight: bold;
}


.info .dropdown {
    float: left;
    clear: left;
}
.info .dropdown .selectbox {
    color: #5E606C;
    text-decoration: underline;
    font-family: Arial, sans-serif;
    font-size: 12px;
}

.main {
    padding: 10px 20px 20px 40px;
}

.main .showScrollable{
    display: block;
    clear: both;
}
.main .showHTML h1{
    font-size: 24px;
    padding-bottom: 0px;
    color: #000000;
}
.main .showHTML{
    color: #333333;
}

.main .showItem {
    background: url("../../img/book.png") no-repeat scroll top left transparent;
    float: left;
    width: 11%;
    padding: 60px 0 0 0;
}

.main .showItem  a{
     color: #F23B00;
}
.main .showHTML {
    float: left;
    clear: none;
    width: 40%;
    padding-right: 2%;
}
.main .showHTML ul.files {
    float: left;
    margin-top: 30px;
}
.main .showHTML ul.files li {
    border-top: 1px dotted #666666;
    padding-bottom: 10px;
}
.main .showHTML ul.files li:first-child {
    border-top: 0;
}
.main .showHTML ul.files li a {
    font-size: 14px;
}


.info .verMenu h2{
    margin-bottom: 20px;


}
.info .verMenu h2 a {
    color: #000000;
    text-decoration: none;

}

.info .verMenu ul li{
  border-top: 1px dotted #666666;
}
.info .verMenu ul li a {
    color: #63940E;
}
.info .verMenu ul li a.selected {
    color: #4C4D59;
    text-decoration: none;
}

.info .verMenu ul li.selected a {
    color: #4C4D59;
    text-decoration: none;
}

.info ul li a {
    color: #4E4F5A;
    display: block;
    font-family: Arial, sans-serif;
    font-size: 16px;
    padding: 10px 0;
    text-decoration: underline;
}

.main .instruments {
    padding: 40px 0;
}

.main .instruments a {
    color: #CC3300;
    float: left;
    font-size: 13px;
    height: 26px;
    padding-right: 20px;
}

.main .instruments a.rss {
    background: url("../../img/rss.png") no-repeat scroll left top transparent;
    padding-left: 30px;
}

.extra {
    background: url("../../img/subcontent-t.png") repeat-x scroll left top #F7F7F7;
    clear: both;
    padding: 40px;
}
/*.extra h1 {
    float: left;
    padding-bottom: 20px;
}*/
.extra h2{
    float: left;
    margin-bottom: 40px;
}
.extra h4 {
    clear: left;
}
.extra .dropdown {
    float: left;
    clear: left;
}
.extra .tabs {
    float: left;
    clear: left;
    margin-left:30px
}
.extra .tabs li {
    padding: 10px 10px 10px 10px;
    background-color: #ffffff;
}
.extra .tabs li a {
    font-size: 20px;
    border-bottom:1px dashed #81AA3F;
    text-decoration:none;
    color:#81AA3F;


}
.extra .tabs li a.current{
    font-size: 20px;
    text-decoration:none;
    color:#666666;
}
.extra .showHierarchy {
    margin: 0 60px 0 450px;
}

.extra .showHierarchy ul {
    clear: right;
}

.extra .showHierarchy ul li {
    display: block;
}

.extra .showHierarchy ul li a {
    clear: right;
    color: #4C4E5B;
    float: left;
    font-size: 14px;
    padding: 20px 20px 20px 0;
    width: 210px;
}

.extra .showHierarchy ul li a.img {
    padding: 10px 20px 20px 0;
    width: 30px;
}

.extra .showHierarchy ul li span {
    color: #999999;
    display: block;
    font-size: 11px;
    padding: 25px 20px 35px 0;
}

.extra .director {
    border-right: 1px solid #E2E2E2;
    float: left;
    font-family: Aria, sans-serif;
    margin: 40px 0;
    padding: 10px 30px 10px 40px;
}

.extra .director .position {
    color: #333333;
    font-size: 12px;
    padding: 10px 0;
}

.extra .director .name {
    color: #598E00;
    font-size: 14px;
    padding: 10px 0;
    text-decoration: underline;
    width: 135px;
}

.extra .slave {
    border-left: 1px solid #E2E2E2;
    color: #0099FF;
    float: right;
    font-size: 15px;
    line-height: 26px;
    margin: 40px 0;
    padding: 10px 20px;
    width: 216px;
}

.extra .representatives {
    border-left: 1px solid #E2E2E2;
    color: #0099FF;
    float: right;
    font-family: Arial, sans-serif;
    font-size: 15px;
    line-height: 26px;
    margin: 40px 0;
    padding: 10px 30px;
    width: 156px;
}

.extra .representatives h3 {
    color: #333333;
    font-size: 14px;
    padding-bottom: 10px;
}

.extra .representatives ul li {
    display: block;
    height: 30px;
    margin: 0;
    padding: 0;
}

.extra .representatives ul li a {
    border-top: 1px solid #E2E2E2;
    color: #598C00;
    display: block;
    font-size: 12px;
    padding: 0;
    text-decoration: underline;
}

.extra .representatives ul li:first-child a {
    border-top: 0 none;
}

.extra .structure {
    margin-left: 225px;
}

.extra .structure h1 {
    padding-bottom: 30px;
}

.extra .structure ul li a {
    color: #4E4F5A;
    display: block;
    font-family: Arial, sans-serif;
    font-size: 16px;
    padding: 10px 0;
    text-decoration: underline;
}
.extra .showTariff {
    margin-left: 180px;
}
/*.extra .showTariff .panes{
    padding-top: 25px;
}*/
.extra .showTariff h3 {
    padding-bottom: 30px;
}
.extra .showTariff th {
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: #81AA3F;
    font-weight: normal;
    padding: 20px 20px 20px 0;
}
.extra .showTariff td {
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #4A5154;
    font-weight: bold;
    padding: 20px 20px 20px 0;
    border-top: 1px dotted #666666;
}
.extra .showTariff td.label {
    font-size: 14px;
    font-weight: normal;
}
.help {
    background: url("../../img/subcontent-b.png") repeat-x scroll left top white;
    clear: both;
    padding: 30px 20px 20px 40px;
}


.help .widget-17 h1 {
    padding: 0;
}
.help .widget-17 ul {
    padding-left: 40px;
}
.help .news-block  a {
    color: #4C4E5B;
    display: block;
    font-size: 14px;
    padding: 0 0 10px;
    text-decoration: underline;
}
.help .showHTML .custom-content {
    margin-left: 250px;
    padding-bottom: 30px;
    font-size: 16px;
    color: #676D6E;
}




.widget-12 .horMenu a {
    color: #F23B00;
    display: block;
    font-size: 15px;
    padding-top: 20px;
    text-decoration: underline;
}

.widget-12 .horMenu .description {
    color: #94969B;
    font-size: 11px;
}
.size {
    font-family: verdana, sans-serif;
    color: #666666;
    font-size: 11px;
}

.doc {
    padding-top: 10px;
}



