@import "global.css";


.content .geography {
    padding-bottom: 40px;
    text-align: center;
}
.content .info {
    float: right;
    min-width: 330px;
    padding-bottom: 20px;
    padding-top: 20px;
    width: 28%;
}
.content.company .info {
    width: 360px;
}
.content .info .description {
    clear: both;
    padding: 40px 20px;
}
.content .info .widget-5 .showItem {
    float: right;
    font-size: 14px;
    padding-right: 50px;
}
.content .info .widget-5 .showItem a {
    color: #F23B00;
}
.content .main .widget-6 .verMenu {
    font-size: 15px;
    margin: 0;
    padding: 30px 0 10px 20px;
    float: left;
}
.content .main .widget-6 .verMenu li a {
    color: #598D00;
    text-decoration: underline;
}

.content .main .widget-6 .verMenu h2 {
    display: block;
    color: #373E3F;
}
.content .main .widget-6 .verMenu h2 a{
    padding: 0 0 20px 0;
    display: block;
    color: #373E3F;
    text-decoration: none;
}
.content .main .showHTMLSimple {
    margin: 30px 15px 0 350px;
    font-size: 14px;
    color:#697379;
    font-family: Arial, sans-serif;
    line-height: 23px;
}
/*
#activiti.showHTML h1, #activiti.showHTML h2 {
    display: none;
}*/
/*
.content .info .banner {
    background: url("../../img/arrow.gif") no-repeat scroll left top #515461;
    text-align: right;
}
.content .info #data-disclosure.verMenu {
    padding: 30px 30px 30px 10px;
}
.content .info #data-disclosure.verMenu h2 {
    display: block;
    color: #373E3F;
}
.content .info #data-disclosure.verMenu h2 a{
    display: block;
    color: #373E3F;
    text-decoration: none;
}
.content .info #data-disclosure.verMenu ul li {
    font-size: 12px;
    padding-top: 15px;
}
.content .info #data-disclosure.verMenu ul li a {
    color: #006699;
    text-decoration: underline;
}
*/
.content .main {
    margin: 0 0 0 20%;
    padding: 20px 20px 60px;
}
/*.content .main .news-block {
    padding-top: 20px;
}*/
.content .main .widget-9 .verMenu {
    padding: 20px 0 0 20px;
    background: url("../../img/company/company_activity_map.png") no-repeat 100px 17px;
    clear: both;
    min-height: 530px;
}
.content .main .widget-9 .verMenu h2 {
    display: block;
    padding: 0 0 40px 0;
}

.content .main .widget-9 .verMenu h2 a {
    display: block;
    color: #373E3F;
    text-decoration: none;
}
.content .main .widget-9 .verMenu ul li a {
    padding: 7px 0;
    color: #787980;
}
.content .main ul li a {
    color: #4E4F5A;
    display: block;
    font-family: Arial,sans-serif;
    font-size: 16px;
    padding: 10px 0;
    text-decoration: underline;
}
.content .main .news-block .date {
    color: #74778B;
    font-size: 11px;
    padding-bottom: 5px;
}
.content .main .news-block .title a {
    color: #4C4E5B;
    display: block;
    font-size: 13px;
    padding: 0 0 10px;
    text-decoration: underline;
}
.content .main .news-block .text {
    color: #545563;
    font-size: 13px;
}
.content .main .instruments {
    padding: 40px 0;
}
.content .main .instruments a {
    color: #CC3300;
    float: left;
    font-size: 13px;
    height: 26px;
    padding-right: 20px;
}
.content .main .instruments a.rss {
    background: url("../../img/rss.png") no-repeat scroll left top transparent;
    padding-left: 30px;
}
.content .extra {
    background: url("../../img/subcontent-t.png") repeat-x scroll left top #F7F7F7;
    clear: both;
    padding-top: 40px;
}
.content .extra #reports.verMenu {
    float: left;
    padding: 0 45px 60px;
    width: 360px;
}
.content .extra #reports.verMenu h2 {
    display: block;
}
.content .extra #reports.verMenu ul li {
    font-size: 14px;
    padding-top: 15px;
}
.content .extra #reports.verMenu ul li a {
    color: #006699;
    text-decoration: underline;
}
.content .extra #reports.verMenu .last {
    clear: both;
    padding-top: 40px;
}
.content .extra #reports.verMenu .last a {
    color: #4C4E5B;
    font-size: 12px;
}
.content .extra .showHierarchy {
    margin: 0 60px 0 450px;
}
.content .extra .showHierarchy ul {
    clear: right;
}
.content .extra .showHierarchy ul li {
    display: block;
}
.content .extra .showHierarchy ul li a {
    clear: right;
    color: #4C4E5B;
    float: left;
    font-size: 14px;
    padding: 20px 20px 20px 0;
    width: 210px;
}
.content .extra .showHierarchy ul li a.img {
    padding: 10px 20px 20px 0;
    width: 30px;
}
.content .extra .showHierarchy ul li span {
    color: #999999;
    display: block;
    font-size: 11px;
    padding: 25px 20px 35px 0;
}
.content .extra .general {
    float: left;
}
.content .extra .general .showHTMLSimple {
    border-right: 1px solid #E2E2E2;
    font-family: Aria,sans-serif;
    margin: 40px 0 0 0;
    padding: 10px 30px 10px 40px;
    width: 156px;
}
.content .extra .general .showItem {
    width: 156px;
    padding: 10px 30px 10px 40px;
}
.content .extra .general .showItem a {
    color: #0099FF;
}
/*.content .extra .general .showHTML .position {
    clear: both;
    color: #333333;
    font-size: 12px;
    padding: 10px 0;
}
.content .extra .general .showHTML .name {
    color: #598E00;
    font-size: 14px;
    padding: 10px 0;
    text-decoration: underline;
    width: 135px;
}*/
.content .extra .showHTMLSimple {
    border-left: 1px solid #E2E2E2;
    color: #0099FF;
    float: right;
    font-size: 15px;
    line-height: 26px;
    margin: 40px 0;
    padding: 10px 220px 10px 20px;
    width: 216px;
}

.content .extra .widget-11 .verMenu {
    margin-left: 260px;
}
.content .extra .widget-11 .verMenu h2 {
    padding-bottom: 20px;
    display: block;
}
.content .extra .widget-11 .verMenu h2 a {
    font-family: Arial, sans-serif;
    font-size: 24px;
    color: #373E41;
    text-decoration: none;
}
.content .extra .widget-11 .verMenu ul li a {
    color: #4E4F5A;
    display: block;
    font-family: Arial,sans-serif;
    font-size: 16px;
    padding: 7px 0;
    text-decoration: underline;
}

#iso {
   margin: 30px 0 0 30px;
   float: left;
}
.widget-12 .showHTML{
    margin-top: 0;
    padding-top: 0;
}
.widget-10 .showHTMLSimple {
    margin-top: 0;
    padding-top: 0;
}
.widget-10 .showHTMLSimple span{
    font-size: 11px;
    font-family: Verdana, sans-serif;
    color: #333333;
}


.widget-6 .verMenu .last{
    display: none;
}