@import "global.css";

p, h1, h2, h3 {
    margin: 0;
    padding: 0;
}

h1, h2 {
    font-size: 24px;
    font-weight: normal;
    color: #000000;
}

ul, ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

img {
    border: 0;
}

/*body {
    font-family: Verdana, Tahoma, sans-serif;
    *//*background: url(../../img/bg/cardboard-texture.jpeg) repeat-y center left;*//*
    font-size: 13px;
    text-align: center;
    background: #ffffff;
    margin: 0;
}*/

.showNewsListNoImage {
    max-width: 650px;
}

.showNewsListNoImage ul li {
    border-bottom: 1px solid #dcdcdc;
}
.showNewsListNoImage .title > a {
    color: #333333;
    text-decoration:none;
}
.showNewsListNoImage .title > a:hover {
    color: #006600;
    text-decoration: underline;
}
.showNewsListNoImage .date {
    float: right;
}

.clear {
    clear: both;
}

ul.files li {
    background: url(../../img/icons/any_icon.png) no-repeat center left;
    padding-left: 30px;
}

ul.files li.doc {
    background: url(../../img/icons/doc_icon.png) no-repeat center left;
}

.doc {
    padding-top: 10px;
}

.instruments .sitemap {
    float: right;
    padding: 0 10px;
}

.header .horMenu {
    clear: right;
    list-style: none outside none;
    margin: 0;
    min-width: 950px;
}

.header .horMenu li.first {
    padding: 10px 0 0;
}

.header .horMenu li {
    float: left;
    font-size: 14px;
    font-family: Arial, sans-serif;
    padding: 10px 0 0 8%;
    font-weight: normal;
    text-transform: uppercase;
}

.header .horMenu li a {
    color: white;
    white-space: nowrap;
    text-shadow: rgba(0, 0, 0, 0.3) 0 -1px 0;
}

.header .horMenu li.selected a {
    color: #FF6600;
}

#reception {
    margin: 0 0 0 100px;
}

.showLanguages {
    float: right;
    font-family: Verdana, sans-serif;
    font-size: 9px;
    text-transform: uppercase;
    color: #CCCCCC;
    padding: 5px 0 0 30px;
}

/*.showLanguages .selected {
    display: none;
}*/

/*
@font-face{
    font-family: 'WebSymbolsRegular';
    src: url('../../fonts/websymbols-regular-webfont.eot');
    src: url('../../fonts/websymbols-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/websymbols-regular-webfont.woff') format('woff'),
         url('../../fonts/websymbols-regular-webfont.ttf') format('truetype'),
         url('../../fonts/websymbols-regular-webfont.svg#WebSymbolsRegular') format('svg');
    }
*/

.glyph, .glyphbox div span {
    font-family: 'WebSymbolsRegular';
}

.preview div, .glyphbox div {
    float: left;
}

.preview div {
    height: 3em;
    line-height: 3em;
    margin-right: 3em;
}

.glyphbox div {
    width: 9em;
    height: 8em;
    text-align: center;
}

.glyphbox, .preview {
    overflow: auto;
    width: 100%;
    margin-bottom: 2em;
}

.glyphbox div p {
    color: #666;
}

.glyphbox div p b {
    color: #333;
}

.new {
    color: #f00
}

/**/

/*
body {
    */
/*background: #32313B url("../../img/index-bg-gradient.png") top center no-repeat;*//*

    */
/*background: #464D60 url("../../img/index-bg-gradient.png") top center no-repeat;*//*

    background: #FFFFFF;
    margin-left: 50px;
    margin-right: 40px;
    font-family: Verdana, Arial, Tahoma, sans-serif;
}
*/

.header {
    padding-top: 18px;
    margin: 0 auto;
    height: 108px;
    min-width: 800px;
    max-width: 1100px;
    text-align: left;
}

/*.logo {
    float: left;
    padding-right: 40px;
    margin-top: -1em;
    margin-left: -2em;
}*/

.instruments {
    padding-top: 25px;
}

.instruments .showHTML h1 {
    display: none;
}

.instruments li {
    margin-bottom: 8px;
}

.instruments a {
    color: #CCCCCC;
    text-decoration: none;

    border-bottom: 1px solid #efefef;

}

.instruments a.selected {
    color: red;
    text-decoration: none;

}

.header .contacts {
    float: left;
    font-size: 9px;
    text-transform: uppercase;
}

.instruments .showHTMLSimple {
    font-size: 8px;
    font-family: Verdana, Tahoma, Arial, sans-serif;
    text-transform: uppercase;
    float: right;
    padding-left: 35px;
}

.widget-2 .showHTMLSimple {
    background: url("../../img/bg-search.png") left top no-repeat;
    padding: 5px 28px 5px 7px;
}

.widget-2 .showHTMLSimple input {
    border: 0;
    background-color: transparent;
    width: 170px;
    color: #e7e7e7;
}

.map-block {
    clear: both;
    margin: -2em auto;
    min-width: 800px;
    max-width: 1100px;
    position: relative;
    text-align: left;
}

.brands {
    background-color: #333333;
    height: 100px;

}

.brands .horMenu {

    clear: right;
    list-style: none outside none;
    margin: 30px 30px 30px 30px;
    min-width: 950px;
}

.brands .horMenu li.first {
    padding: 10px 0 0;
}

.brands .horMenu li {
    float: left;
    font-size: 14px;
    font-family: Arial, sans-serif;
    padding: 10px 0 0 8%;
    font-weight: normal;
    text-transform: uppercase;
    color: #cccccc;
}

.brands .horMenu li a {
    color: #efefef;
    white-space: nowrap;
    /*text-shadow: rgba(0, 0, 0, 0.3) 0 -1px 0;*/
}

.brands .horMenu li a:hover {
    color: #ffffff;
}

.brands .horMenu li.selected a {
    color: #ffffff;
}

.content {
    margin: 0 auto;
    min-width: 800px;
    max-width: 1100px;
    text-align: left;
    padding-top: 20px;
}

.content .left {
    width: 40%;
    float: left;
}

.content .left h1 {
    padding: 24px 0 0;
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-size: 18px;
    color: #858C99;
}

.content  .news-block {
    padding-top: 20px;
}

.content  .news-block .date {
    font-size: 12px;
    color: #858A99;
}


.left .showNewsList .news-block {
    clear: both;
}

.left .showNewsList .all {
    text-align: right;
    padding-top: 30px;
}

.left .showNewsList .all a {
    color: #CCFF66;
}

.left .showNewsList .news-block .image {
    display: none;
    /*    float: left;
clear: both;
padding: 0 20px 20px 0;*/
}

.content .left .news-block .text {
    display: none;
}

.content .left .archive {
    padding: 20px 0;
}

.content .left .archive a {
    font-size: 13px;
    font-family: Arial, sans-serif;
    color: #99CC33;
    text-decoration: underline;
}

.content .right {
    float: right;
    padding-bottom: 80px;
}

.content .right .slideshow {
    height: 270px;
    text-align: right;
    width: 470px;
    font-family: Arial, sans-serif;
    font-size: 12px;
    font-style: italic;
    color: #C1C5CC;
}

.content .right .event {
    padding: 15px 0;
}

.content .right .slideshow img {
    padding-bottom: 20px;
}

.social-links {
    margin-top: 100px;

}

.social-links a {
    margin-right: 20px;
    text-decoration: none;
    cursor: auto;
    /*color:;*/

}

.widget-18 .horMenu2Levels {
    padding: 50px 0;
    margin: 0 auto;
    min-width: 800px;
    max-width: 1100px;
    text-align: left;
}

.widget-18 .horMenu2Levels h3 {
    font-size: 11px;
    color: #D1D2D8;
    text-transform: uppercase;
    font-weight: normal;
    padding-bottom: 20px;
    font-family: Arial, sans-serif;
}

.widget-18 .horMenu2Levels h3 a {
    color: #D1D2D8;
    text-decoration: none;
    /*text-shadow: white 0 -1px 0;*/
}

.widget-18 .horMenu2Levels ul.level1 li.parent {
    float: left;
    width: 20%;
}

.widget-18 .horMenu2Levels ul.level2 li {
    padding-right: 20px;
    line-height: 25px;
    font-family: Arial, sans-serif;
    font-size: 12px;
    color: #868E9B;
    text-decoration: none;
}

.widget-18 .horMenu2Levels ul.level2 li a:hover {
    color: #919aa8;
    text-decoration: underline;
    /*text-shadow: white 0 -1px 0;*/
}

.widget-18 .horMenu2Levels ul.level2 li a {
    color: #868E9B;
    text-decoration: none;
    /*text-shadow: white 0 -1px 0;*/
}

.widget-19 .showHTML {
    padding: 40px 100px 180px;
    clear: both;
    font-size: 12px;
    color: #878F9C;
    margin: 0 auto;
    min-width: 800px;
    max-width: 1100px;
    text-align: left;
}

.widget-19 .showHTML h1 {
    display: none;
}

.widget-19 .showHTML div {
    float: right;
    line-height: 25px;
}

.widget-19 .showHTML .smi {
    width: 240px;
    margin-left: 40px;
}

.widget-19 .showHTML .copyright {
    font-weight: bold;
    color: #C0C4CB;
}

.widget-19 .showHTML .rights {
    padding: 20px 0;
    clear: right;
    width: 240px;
    font-family: Arial, sans-serif;
}

.widget-19 .showHTML .rights a {
    color: #A7ACB6;
}

