@import "global.css";



.showNewsList .news-block .image {
    display: none;
/*    float: left;
    clear: both;
    padding: 0 20px 20px 0;*/
}
/*.header .horMenu {
    clear: right;
    list-style: none outside none;
    margin: 0;
    min-width: 950px;
}
.header .horMenu li.first {
    padding: 10px 0 0;
}
.header .horMenu li {
    float: left;
    font-size: 14px;
    padding: 10px 0 0 8%;
    text-transform: uppercase;
}
.header .horMenu li a {
    color: white;
    white-space: nowrap;
}
.header .horMenu li.selected a {
    color: #FF6600;
}*/

.content .widget-5 .verMenu {
    background: url("../../img/book.png") no-repeat scroll 18% 75px transparent;
    float: left;
    padding: 135px 0 0 3%;
    width: 15%;
}

.content .widget-5 .verMenu h2{
    display: none;
}
.info .widget-7 .verMenu h2{
    display: none;
}
.content .widget-5 .verMenu .menuItem a {
    color: #F23B00;
    display: block;
    font-size: 15px;
    padding-top: 20px;
    text-decoration: underline;
}
.content .widget-5 .verMenu .menuItem .description {
    color: #94969B;
    font-size: 11px;
}
.content .geography {
    padding-bottom: 40px;
    text-align: center;
}
.content .info {
    float: right;
    min-width: 330px;
    padding-bottom: 60px;
    padding-top: 20px;
    width: 28%;
}
.content.company .info {
    width: 360px;
}
.content .info .description {
    clear: both;
    padding: 40px 20px;
}
.content .info .widget-6 .showItem {
    float: right;
    font-size: 14px;
    padding-right: 50px;
}
.content .info .widget-6 .showItem a {
    color: #F23B00;
}
/*.content .info .widget-6 .horMenu a {
    color: #F23B00;
}*/
.content .info .widget-7 .verMenu {
    clear: both;
    font-size: 15px;
    list-style: none outside none;
    margin: 0;
    padding: 30px 0 20px 5px;
}
.content .info .widget-7 .verMenu li {
    padding-bottom: 20px;
}
.content .info .widget-7 .verMenu li.position-1,
.content .info .widget-7 .verMenu li.position-2,
.content .info .widget-7 .verMenu li.position-3 {
    display: none;
}
.content .info .widget-7 .verMenu li a {
    color: #598D00;
    text-decoration: underline;
}
.content .info .banner {
    background: url("../../img/arrow.gif") no-repeat scroll left top #515461;
    text-align: right;
    height: 172px;
}
.content .info .widget-9 .verMenu {
    padding: 30px 30px 30px 10px;
}
.content .info .widget-9 .verMenu h2 {
    display: block;
    color: #373E3F;
}
.content .info .widget-9 .verMenu ul li {
    font-size: 12px;
    padding-top: 15px;
    color: #006699;
}
.content .info .widget-9 .verMenu ul li a {
    color: #006699;
    text-decoration: underline;
}
.content .main {

    margin: 0 35% 0 20%;
    padding: 20px 20px 60px;
}
.content .main .news-block {
    padding-top: 20px;
}
.content .main ul li a {
    color: #4E4F5A;
    display: block;
    font-family: Arial,sans-serif;
    font-size: 16px;
    padding: 10px 0;
    text-decoration: underline;
}
.content .main .news-block .date {
    color: #74778B;
    font-size: 11px;
    padding-bottom: 5px;
}
.content .main .news-block .title a {
    color: #4C4E5B;
    display: block;
    font-size: 13px;
    padding: 0 0 10px;
    text-decoration: underline;
}
.content .main .showNewsList .all {
    text-align: right;
    padding-top: 30px;
}

.content .main .showNewsList .all a {
    color: #4C4E5B;
}

.content .main .news-block .text {
    color: #545563;
    font-size: 13px;
}
.content .main .instruments {
    padding: 40px 0;
}
.content .main .instruments a {
    color: #CC3300;
    float: left;
    font-size: 13px;
    height: 26px;
    padding-right: 20px;
}
.content .main .instruments a.rss {
    background: url("../../img/rss.png") no-repeat scroll left top transparent;
    padding-left: 30px;
}
.content .extra {
    background: url("../../img/subcontent-t.png") repeat-x scroll left top #F7F7F7;
    clear: both;
    padding-top: 40px;
}
.content .extra .widget-11 .verMenu {
    float: left;
    padding: 0 45px 60px;
    width: 360px;
}
.content .extra .widget-11 .verMenu h2 {
    display: block;
}
.content .extra .widget-11 .verMenu ul li {
    font-size: 14px;
    padding-top: 15px;
    color: #006699;
}
.content .extra .widget-11 .verMenu ul li a {
    color: #006699;
    text-decoration: underline;
}
.content .extra .widget-11 .verMenu .last {
    clear: both;
    padding-top: 40px;
}
.content .extra .widget-11 .verMenu .last a {
    color: #4C4E5B;
    font-size: 12px;
}
.content .extra .showHierarchy {
    margin: 0 60px 0 450px;
}
.content .extra .showHierarchy ul {
    clear: right;
}
.content .extra .showHierarchy ul li {
    display: block;
}
.content .extra .showHierarchy ul li a {
    clear: right;
    color: #4C4E5B;
    float: left;
    font-size: 14px;
    padding: 20px 20px 20px 0;
    width: 210px;
}
.content .extra .showHierarchy ul li a.img {
    padding: 10px 20px 20px 0;
    width: 30px;
}
.content .extra .showHierarchy ul li span {
    color: #999999;
    display: block;
    font-size: 11px;
    padding: 25px 20px 35px 0;
}
.content .extra .director {
    border-right: 1px solid #E2E2E2;
    float: left;
    font-family: Aria,sans-serif;
    margin: 40px 0;
    padding: 10px 30px 10px 40px;
}
.content .extra .director .position {
    color: #333333;
    font-size: 12px;
    padding: 10px 0;
}
.content .extra .director .name {
    color: #598E00;
    font-size: 14px;
    padding: 10px 0;
    text-decoration: underline;
    width: 135px;
}
.content .extra .slave {
    border-left: 1px solid #E2E2E2;
    color: #0099FF;
    float: right;
    font-size: 15px;
    line-height: 26px;
    margin: 40px 0;
    padding: 10px 20px;
    width: 216px;
}
.content .extra .representatives {
    border-left: 1px solid #E2E2E2;
    color: #0099FF;
    float: right;
    font-family: Arial,sans-serif;
    font-size: 15px;
    line-height: 26px;
    margin: 40px 0;
    padding: 10px 30px;
    width: 156px;
}
.content .extra .representatives h3 {
    color: #333333;
    font-size: 14px;
    padding-bottom: 10px;
}
.content .extra .representatives ul li {
    display: block;
    height: 30px;
    margin: 0;
    padding: 0;
}
.content .extra .representatives ul li a {
    border-top: 1px solid #E2E2E2;
    color: #598C00;
    display: block;
    font-size: 12px;
    padding: 0;
    text-decoration: underline;
}
.content .extra .representatives ul li:first-child a {
    border-top: 0 none;
}
.content .extra .structure {
    margin-left: 225px;
}
.content .extra .structure h1 {
    padding-bottom: 30px;
}
.content .extra .structure ul li a {
    color: #4E4F5A;
    display: block;
    font-family: Arial,sans-serif;
    font-size: 16px;
    padding: 10px 0;
    text-decoration: underline;
}

.widget-9 .verMenu .last{
    display: none;
}