@import "global.css";


/* widget-3 */
/*

.widget-3 {
    width: auto;
    */
/*max-width: 650px;*//*

}

.widget-3 ul li {
    border-bottom: 1px solid #dcdcdc;
}
.widget-3 .title > a {
    color: #333333;
    text-decoration:none;
}
.widget-3 .title > a:hover {
    color: #006600;
    text-decoration: underline;
}
.widget-3 .date {
    float: right;
}

#works-list{
    max-width: 40%;
    min-width: 300px;
    float:left;
    background: #efefef;
    */
/*clear: both;*//*

    height: auto;
    */
/*padding: 30px;*//*

}
#works-list ul li{

}
#works-list ul li:hover{
    background: #ffffff;
}
#works-list ul li a{
    padding: 0 15px 5px 15px;
    color:#808080;
    text-decoration: none;
}
#works-list ul li a:hover{
    color:#000000;
    text-decoration: underline;
}



#works-3{
    max-width: 60%;
    float: right;
    text-align: left;
}







#release-search-form{
    margin-bottom: 50px;
    */
/*padding-bottom: 50px;*//*


}




.info .showItem {
    float: right;
    font-size: 14px;
    padding-right: 50px;
}
.info .showItem a {
    color: #F23B00;
}
*/
/*.showNewsList  h1{
    display: none;
}*//*

.content .verMenu {
    */
/*background: url("../../img/book.png") no-repeat scroll 18% 75px transparent;*//*

    float: left;
    padding: 20px 0 0 3%;
    width: 15%;
}
.content .verMenu h2{
    display: none;
}
.content .verMenu li:last-child {
    display: none;
}

.verMenu .menuItem a {
    color: #F23B00;
    display: block;
    font-size: 15px;
    padding-top: 20px;
    text-decoration: underline;
}

.main {
    padding: 20px 0  60px 0;
}
*/
/*.main h1 {*//*

    */
/*margin-left: 220px;*//*

*/
/*}*//*


.main ul li a {
    color: #4E4F5A;
    display: block;
    font-family: Arial,sans-serif;
    font-size: 16px;
    padding: 10px 0;
    text-decoration: underline;
}
.main .news-block .date {
    color: #74778B;
    font-size: 11px;
    padding-bottom: 5px;
}
.main .news-block .title a {
    color: #006699;
    display: block;
    font-size: 13px;
    padding: 0 0 10px;
    text-decoration: underline;
}
.main .news-block .text {
    color: #545563;
    font-size: 13px;
}
.main .instruments {
    padding: 40px 0;
}
.main .instruments a {
    color: #CC3300;
    float: left;
    font-size: 13px;
    height: 26px;
    padding-right: 20px;
}
.main .instruments a.rss {
    background: url("../../img/rss.png") no-repeat scroll left top transparent;
    padding-left: 30px;
}
.extra {
    background: url("../../img/subcontent-t.png") repeat-x scroll left top #F7F7F7;
    clear: both;
    padding-top: 40px;
}
.extra .verMenu {
    float: left;
    padding: 0 45px 60px;
    width: 360px;
}
.extra .verMenu h2 {
    display: block;
}
.extra .verMenu ul li {
    font-size: 14px;
    padding-top: 15px;
}
.extra .verMenu ul li a {
    color: #006699;
    text-decoration: underline;
}
.extra .verMenu .last {
    clear: both;
    padding-top: 40px;
}
.extra .verMenu .last a {
    color: #4C4E5B;
    font-size: 12px;
}
.extra .showHierarchy {
    margin: 0 60px 0 450px;
}
.extra .showHierarchy ul {
    clear: right;
}
.extra .showHierarchy ul li {
    display: block;
}
.extra .showHierarchy ul li a {
    clear: right;
    color: #4C4E5B;
    float: left;
    font-size: 14px;
    padding: 20px 20px 20px 0;
    width: 210px;
}
.extra .showHierarchy ul li a.img {
    padding: 10px 20px 20px 0;
    width: 30px;
}
.extra .showHierarchy ul li span {
    color: #999999;
    display: block;
    font-size: 11px;
    padding: 25px 20px 35px 0;
}
.extra .director {
    border-right: 1px solid #E2E2E2;
    float: left;
    font-family: Aria,sans-serif;
    margin: 40px 0;
    padding: 10px 30px 10px 40px;
}
.extra .director .position {
    color: #333333;
    font-size: 12px;
    padding: 10px 0;
}
.extra .director .name {
    color: #598E00;
    font-size: 14px;
    padding: 10px 0;
    text-decoration: underline;
    width: 135px;
}
.extra .slave {
    border-left: 1px solid #E2E2E2;
    color: #0099FF;
    float: right;
    font-size: 15px;
    line-height: 26px;
    margin: 40px 0;
    padding: 10px 20px;
    width: 216px;
}
.extra .representatives {
    border-left: 1px solid #E2E2E2;
    color: #0099FF;
    float: right;
    font-family: Arial,sans-serif;
    font-size: 15px;
    line-height: 26px;
    margin: 40px 0;
    padding: 10px 30px;
    width: 156px;
}
.extra .representatives h3 {
    color: #333333;
    font-size: 14px;
    padding-bottom: 10px;
}
.extra .representatives ul li {
    display: block;
    height: 30px;
    margin: 0;
    padding: 0;
}
.extra .representatives ul li a {
    border-top: 1px solid #E2E2E2;
    color: #598C00;
    display: block;
    font-size: 12px;
    padding: 0;
    text-decoration: underline;
}
.extra .representatives ul li:first-child a {
    border-top: 0 none;
}
.extra .structure {
    margin-left: 225px;
}
.extra .structure h1 {
    padding-bottom: 30px;
}
.extra .structure ul li a {
    color: #4E4F5A;
    display: block;
    font-family: Arial,sans-serif;
    font-size: 16px;
    padding: 10px 0;
    text-decoration: underline;
}

.showNewsList {
    width: 75%;
    float: left;
    padding-bottom: 70px;
}

.main .showNewsList .all {
display: none
}

.main .showNewsList .news-block .image {
    float: left;
    clear: both;
    padding-bottom: 20px;
}
.main .showNewsList .news-block .date {
    margin-left: 220px;
    margin-right: 40px;
    float: none;
    text-shadow: none;
}
.main .showNewsList .news-block .text,
.main .showNewsList .news-block .title {
    margin-left: 220px;
    margin-right: 40px;
}
.main .showNewsList .news-block .text a {
    font-size: 13px;
    text-decoration: none;
    color: #333333;
}
.main .showNewsList .item-content {
    margin-left: 220px;
}
.showItemsPositionSorted {
    width: 75%;
    float: left;
    padding-bottom: 70px;
}
.main .info .showFiles {
    width: 75%;
}
.main .info .showFiles li {
    border-top: 1px dotted #666666;
    padding: 10px 0;
}
.main .info .showFiles li:first-child {
    border-top: 0;
}
.main .info .showFiles li a {
    font-size: 13px;
    color: #63920C;
    display: inline-block;
    padding-left: 10px;
}
.main .info .showFiles li a.img {
    float:left;
    padding-left: 0;
}
.main .info .showFiles li span {
    display: inline-block;
    width: 180px;
    padding-left: 10px;
    white-space: nowrap;
    color: #999999;
    font-family: Arial, sans-serif;
}
.main .info .showFiles h2 {
    display: none;
}
.main .info .showItemsPositionSorted {
    float:none;
}
.main .info .showItemsPositionSorted .date {
    display: none;
}
.main .info .showItemsPositionSorted h1 {
    padding-bottom: 20px;
}
.main .info .showItemsPositionSorted .news-block {
    padding: 10px 0;
    border-top: 1px dotted #666666;
}
.main .info .showItemsPositionSorted li:first-child .news-block {
    border-top: 0;
}
.main .info .showItemsPositionSorted .news-block .title {
    margin-left: 0;
    margin-right: 0;
}
.main .info .showItemsPositionSorted .news-block .title a {
    color: #63950F;
}

.main .info h3 {
    font-size: 14px;
    font-family: Arial, sans-serif;
    color: #000000;
    padding-bottom: 20px;
}
.utils {
    clear: both;
}
.utils a {
    font-family: Arial,sans-serif;
    color: #CC3300;
    padding: 20px 80px 20px 30px;
}
.utils .rss {
    background: url("../../img/rss.png") no-repeat center left;
}
.utils .email {
    background: url("../../img/email.png") no-repeat center left;
    padding: 20px 40px 20px 40px;
}
*/
/*
.main .showScrollable .scrollItem {
    width: 340px;

}
.main .showScrollable .scrollItem .date {
    font-family: Verdana, sans-serif;
    font-size: 11px;
    color: #74778B;
    padding-bottom: 10px;
}
.main .showScrollable .scrollItem .title {
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-size: 13px;
}
.main .showScrollable .scrollItem .title a {
    color: #4C4E5B;
}*//*

.main .showNewsList .custom-content .image {
    float: left;
    padding: 20px 20px 20px 0;
}
.main .showNewsList .custom-content .text {
    padding: 20px 20px 30px 0;
}
.main .showNewsList .custom-content .contacts {
    padding: 20px 20px 30px 0;
    border-top: 1px dotted #666666;
}
.main .showNewsList .custom-content .contacts label {
    font-weight: bold;
    padding-right: 10px;
}
.main .showNewsList .custom-content .information {
    padding: 20px 20px 30px 0;
    border-top: 1px dotted #666666;
}
.main .showNewsList .custom-content .information label {
    font-weight: bold;
    padding-right: 10px;
}

.main .dropdown {
    float: left;
    clear: left;
}
.main .dropdown .selectbox {
    color: #5E606C;
    text-decoration: underline;
    font-family: Arial, sans-serif;
    font-size: 12px;
}

*/
