.avaliable-languages {
    float: right;
    display: inline-block;
    margin: 0 20px 8px 0;
    list-style: none outside none;
}

.avaliable-languages > li {
    float: left;
    padding-left: 10px;
    height: 20px;
}
.avaliable-languages > li > a {
    font-size: 12px;
    text-decoration: none;
}
/*.avaliable-languages > li > a:hover {
    font-size: 12px;
    text-decoration: none;
    color: black;
}*/

.avaliable-languages > li > a.selected {
    color: ActiveCaption;
    opacity: 20;
}
