
/*
@font-face {
    font-family: 'Folio Light';
    src: url('http://f.fontdeck.com/f/1/YzUtQWZjSHUAA7vB/hZ/dr5KvUT1fyhhdQl62DW6PsZXEVIXyyHqnWmsZAkTOgzd4RdkkrVzEUZ0Bw.eot');
    src: url('http://f.fontdeck.com/f/1/YzUtQWZjSHUAA7vB/hZ/dr5KvUT1fyhhdQl62DW6PsZXEVIXyyHqnWmsZAkTOgzd4RdkkrVzEUZ0Bw.eot?') format('embedded-opentype'),
    url('http://f.fontdeck.com/f/1/YzUtQWZjSHUAA7vB/hZ/dr5KvUT1fyhhdQl62DW6PsZXEVIXyyHqnWmsZAkTOgzd4RdkkrVzEUZ0Bw.woff') format('woff'),
    url('http://f.fontdeck.com/f/1/YzUtQWZjSHUAA7vB/hZ/dr5KvUT1fyhhdQl62DW6PsZXEVIXyyHqnWmsZAkTOgzd4RdkkrVzEUZ0Bw.ttf') format('opentype'),
    url('http://f.fontdeck.com/f/1/YzUtQWZjSHUAA7vB/hZ/dr5KvUT1fyhhdQl62DW6PsZXEVIXyyHqnWmsZAkTOgzd4RdkkrVzEUZ0Bw.svg#1056') format('svg');
    font-weight: 200;
    font-style: normal;
}
*/
